.firstDiv{
    position: relative;
    height: fit-content;
    width: 100%;
}

#topDivMenu{
    position: absolute;
    z-index: 101;
    right: 0px;
    top: 0px;
    color: white;
    font-size: 3vw;
    font-weight: 400;
    margin: 1% ;
}

.logo{
    position: absolute;
    z-index: 101;
    left: 0px;
    top: 0px;
    color: white;
    font-size: 3vw;
    font-weight: 400;
    margin: 1% ;
    line-height: 1em;
}

.logo:hover{
    color: white;
}

.title{
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: 100;
    width: fit-content;
    margin: auto;
    margin-top: 1%;
    color: white;
    font-size: 2vw;
}

.titleBottom{
    position: absolute;
    z-index: 101;
    color: white;
    font-size: 4vw;
    width: fit-content;
    bottom: 2vh;
    margin: auto;
    left: 0px;
    right: 0px;
    visibility: hidden;
}

.centerDescription{
    display: flex;
    flex-direction: column;
    z-index: 101;
    width: fit-content;
    color: white;
    height: fit-content;
    padding-right: 10%;
    padding-left: 10%;
}

.centerDescription h1{
    font-size: 3vw;
}

#centerButton{
    font-size: 1vw;
    width: fit-content;
    align-self: flex-end;
}


.helpUsDiv{
    display: flex;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: white;
    overflow: auto;
    align-items: center;
    justify-content: flex-start;
}

.helpUsDiv h1{
    margin-left: 5%;
    margin-bottom: 0%;
    color: #75CF7E;
    font-size: 3vw;
}

.centerDescriptionContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: fit-content;
    margin: auto;
    top: 0px;
    bottom: 0px;
}

.topDiv{
    width: 100vw;
    height: 90vh;
    background-image: url("/homepage_image.svg");
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
}

#helpUsDonate{
    font-size: 1vw;
    margin-left: 5%;
    margin-right: -2%;
}

.menuInDimmer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;    
}

.menuInDimmer h1{
    font-size: 2vw;
}

.menuInDimmer a{
    display: block;
    padding: 4%;
    color: grey;
}

.menuInDimmer a:hover{
    color: #fff;
}

.menuInMobileOrTablet{
    position: absolute;
    visibility: collapse;
    height: fit-content;
    width: fit-content;
    margin: auto;
}

#backInMenu{
    position: absolute;
    right: 0;
    top: 0;
    margin: 2vw;
}

.firstDivMenu{
    padding: 4%;
    flex-grow: 1;
}

.firstDivMenu a{
    width: fit-content;
    margin: auto;
}

.secondDivMenu{
    padding: 4%;
    flex-grow: 1;
}

.secondDivMenu a{
    width: fit-content;
    margin: auto;
}

@media (max-width:800px){
    .title{
        
        font-size: 2.5vw;
    }

    .centerDescription h1{
        font-size: 5vw;
    }

    #centerButton{
        font-size: 2vw;
    }

    #helpUsDonate{
        font-size: 2vw;
    }

    .helpUsDiv h1{
        font-size: 6vw;
    }

    #backInMenu{
        margin: 3vw;
    }

    .menuInDimmer h1{
        font-size: 4vw;
    }

    .menuInMobileOrTablet{
        visibility: visible;
    }
    .firstDivMenu{
        visibility: collapse;
    }
    
    .secondDivMenu{
        visibility: collapse;
    }
    

}

@media (max-width:450px){
    .helpUsDiv{
        height: 10vh;
    }

    .topDiv{
        height: 100vh;
    }

    .logo{
        left: 0px;
        top: 0px;
        margin: 5vw;
        font-size: 6vw;
    }

    #topDivMenu{
        font-size: 5vw;
        right: 0px;
        top: 0px;
        margin: 5vw;
    }
    

    .title{
        visibility: hidden;
    }

    .centerDescription h1{
        font-size: 5vw;
        text-align: center;
    }

    .centerDescriptionContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: absolute;
        width: 100vw;
        height: 80%;
    }

    #centerButton{
        font-size: 3vw;
        width: fit-content;
        align-self: center;
    }
    
    .titleBottom{
        visibility: visible;
    }

    .helpUsDiv{
        height: 10vh;
    }

    .helpUsDiv h1{
        font-size: 7vw;
    }

    #helpUsDonate{
        font-size: 3vw;
    }
    
    #backInMenu{
        margin: 4vw;
        
    }

    .menuInDimmer h1{
        font-size: 5vw;
    }

}
