.thirdDiv{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.background{
    position: absolute;
    top: 0;
    background-image: url('/third_div.svg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    filter: brightness(50%);
}

.news{
    /* border: 4px yellow solid; */
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#inTheNewsHeader{
    margin: auto;
    width: fit-content;
}

#newsList{
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.video{
    /* border: 4px red solid; */
    width: 80vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.videoFrame{
    width: 100%;
    height: 90%;
}

.twitter{
    /* border: 4px blue solid; */
    width: 80vw;
    height: 30vh;
    /* font-size: 10px; */

}

#tweetList{
    font-size: 3vw;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 150px;
    overflow-y: scroll;
}

#tweetTimeline{
    height: 30%;
}

#divider{
    visibility: hidden;
}

@media (min-width:425px){
    .thirdDiv{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .video{
        flex: 90%;
        order: 1;
        width: 100vw;
        /* border: 4px red solid; */
        flex-wrap: wrap;
    }
    .videoFrame{
        width: 90%;
        height: 100%;
    }
    .news{
        flex: 40%;
        order: 3;
        /* border: 4px yellow solid;    */
        width: 40vw; 
        height: fit-content;
        justify-content: flex-start;
        margin-right: 5%;
        margin-left: 2.5%;
    }
    .twitter{
        flex: 40%;
        order: 2;
        width: 40vw;
        height: fit-content;
        /* border: 4px blue solid; */
        margin-left: 5%;
        margin-right: 2.5%;
    }

    #segment{
        height: fit-content;
    }

    #newsList{
        font-size: 2vw;
        height: 250px;
    }

    #tweetList{
        font-size: 2vw;
        height: 250px;
    }
}

@media (min-width:800px){
    .thirdDiv{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .video{
        order: 2;
        flex: 30%;
        width: 30vw;
        height: 40vh;
        flex-wrap: wrap;
        align-self: center;
    }
    .videoFrame{
        height: 40vh;
        width: 30vw;
    }
    .news{
        order: 3;
        flex: 30%;  
        width: 30vw; 
        height: fit-content;
    }
    .twitter{
        order: 1;
        flex: 30%;
        width: 30vw;
        height: fit-content;
    }

    #segment{
        height: fit-content;
    }
    
    #newsList{
        font-size: 1vw;
        height: 200px;
    }

    #tweetList{
        font-size: 1vw;
        height: 200px;
    }
}