.navbar{
    background-color: black;   
}

.firstDiv{
    position: relative;
    height: fit-content;
    width: 100%;
}

#topDivMenu{
    position: relative;
    right: 0px;
    top: 0px;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    
}

#logo{
    position: relative;
    left: 0px;
    top: 0px;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    
}

#logo:hover{
    color: white;
}


.menuInDimmer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;    
}

.menuInDimmer h1{
    font-size: 2vw;
}

.menuInDimmer a{
    display: block;
    padding: 4%;
    color: grey;
}

.menuInDimmer a:hover{
    color: #fff;
}

.menuInMobileOrTablet{
    position: absolute;
    visibility: collapse;
    height: fit-content;
    width: fit-content;
    margin: auto;
}

#backInMenu{
    position: absolute;
    right: 0;
    top: 0;
    margin: 2vw;
}

.firstDivMenu{
    padding: 4%;
    flex-grow: 1;
}

.firstDivMenu a{
    width: fit-content;
    margin: auto;
}

.secondDivMenu{
    padding: 4%;
    flex-grow: 1;
}

.secondDivMenu a{
    width: fit-content;
    margin: auto;
}

@media (max-width:800px){

    #topDivMenu{
        font-size: 3vw;
    }
    
    #logo{
        font-size: 3vw;
    }

    #backInMenu{
        margin: 3vw;
    }

    .menuInDimmer h1{
        font-size: 4vw;
    }

    .menuInMobileOrTablet{
        visibility: visible;
    }
    .firstDivMenu{
        visibility: collapse;
    }
    
    .secondDivMenu{
        visibility: collapse;
    }
    

}

@media (max-width:450px){

    #topDivMenu{
        font-size: 6vw;
    }
    
    #logo{
        font-size: 6vw;
    }


    #backInMenu{
        margin: 4vw;
        
    }

    .menuInDimmer h1{
        font-size: 5vw;
    }

}
