.container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vw 0vw;
}

.heading p {
    color: rgb(121, 121, 121);
    
}

.heading h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1::after, .heading h1::before {
    content: '';
    width: 100%;
    height: 2px;
    background: grey;
    /* margin: 0 10px; */
}

.color {
    background-color: #ccc;
}

.pdfs {
    
    margin: 0;
    padding: 0;
}
  
.pdfs li {
    display: inline-block;
    list-style-type: decimal;
    /* width: 50%; */
    margin: 3px 0;
}

.paragraph{
    white-space: pre-wrap;
}


.images {
    height: fit-content;
    width: fit-content;
}


.subcontainer {
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
}

.logo span {
    font-size: large;
}


.content {
    
    display: flex;
    align-items: center;
    width: 100%;
}

.content p {
    width: 100%;
    font-size: calc(0.75em + 1vmin);
    line-height: 30px;
    text-align: center;
    /* white-space: nowrap; */
}

@media (min-width: 600px) {

    .pdfs li {
        /* width: 33.33333%; */
    }
    
    .images {
        height: 30%;
        width: 60%;
    }
    
}


