.homeMain {
  background-image: url("/second_image.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* filter: brightness(50%); */
  background-position: center;
  background-size: cover;
}
