#mainContainer {
  height: fit-content;
  margin-top: 2%;
  margin-bottom: 4%;
}

#divider {
  font-size: 6vw;
}

#belowImage{
    padding-top: 0px;
    padding-bottom: 0px;
}

#grid{
    padding-top: 10%;
}

@media (min-width: 800px) {
  #divider {
    font-size: 2vw;
  }
}
